@tailwind utilities;
@layer utilities {
  .input-search {
    &__container {
      @apply text-dark-blue duration-md opacity-40 fixed top-0 p-2 z-20 cursor-pointer flex flex-col items-center justify-center;
      left: 50%;
      transform: translateX(-50%);

      &_open {
        @apply opacity-100 bg-dark;
      }
    }
    &__block {
      @apply flex;
      .input-search {
        @apply rounded-md duration-md;
        height: 40px;
        width: 0px;
        &_open {
          @apply px-2;
          width: 200px;
          @screen md {
            width: 400px;
          }
        }
      }
    }
    &__list {
      @apply w-0 overflow-hidden h-0 opacity-0;
      &_open {
        @apply flex flex-col gap-y-2 h-full py-4 overflow-visible opacity-100 text-white;
        width: 240px;
        @screen md {
          width: 440px;
        }
        & > li {
          @apply duration-md px-2;
          &:hover {
            transform: translateX(-3px) translateY(-3px);
          }
        }
      }
    }
  }
}
