@tailwind utilities;
@layer utilities {
  .icon {
    width: 40px;
    height: 40px;
    &__container {
      @apply flex items-center justify-center;
      width: 40px;
      height: 40px;
    }
  }
}
