@tailwind components;
@layer components {
  .movie {
    &__cards {
      @apply grid grid-cols-1 text-white gap-5;
      @screen sm {
        @apply grid-cols-2;
      }
      @screen lg {
        @apply grid-cols-3;
      }
      @screen 2xl {
        @apply grid-cols-4;
      }
      @screen 2xl {
        @apply grid-cols-5;
      }
    }
    &__card {
      @apply flex w-full relative h-full flex-col  bg-cover text-white hover:cursor-pointer;
      min-height: 400px;
      & * {
        @apply text-current duration-md;
      }
      &:hover {
        @apply bg-opacity-20;
        .movie__card__info {
          @apply p-5 bg-dark-blue bg-opacity-80;
        }
        .movie__card__icon_play {
          @apply opacity-80;
          top: 30%;
        }
      }
      &__info {
        @apply p-5 bg-dark-blue bg-opacity-50 mt-auto duration-md;
      }

      &__tags {
        @apply flex gap-x-1;
        & > span {
          @apply p-1;
        }
      }

      & * {
        @apply z-10;
      }
      &__rating {
        @apply flex;
      }
      &__btn {
        @apply flex items-center gap-x-2;
      }
      &__icon {
        @apply absolute duration-lg;
        top: 50%;
        right: 50%;
        transform: translateX(0) translateY(0);
        &_play {
          transform: translateX(50%) translateY(-50%);
          top: 0;
          right: 50%;
          @apply absolute opacity-0 p-4 bg-dark-blue;
        }
      }
    }
  }
}
